:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --clr-main: #e5e5e5;
  --clr-fill: #e5e5e5;
  color: var(--clr-main);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-main: #213547;
    --clr-fill: #213547;
    background-color: #ffffff;
  }
}
